h1 { font-size : 55px !important; text-transform: uppercase; font-weight : bold !important; }
h2 { font-size : 45px !important; }

@import url(../reveal/lib/font/source-sans-pro/source-sans-pro.css);
body  {
    background : url('../images/bg_ProxiAD.png') left top no-repeat;

    position : absolute;
    height : 100%;
    width : 100%;

    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: black;
    font-size : 32px;
}

* {
    box-sizing: border-box;
}

ul {
    margin : 0;
    padding : 0;
    text-align : left;
}

ul ul {
    margin-left : 100px;
}

.important { font-weight: bold !important; }
.avantage { color : #0648a0; }
.inconvenient { color : #e80101; }

.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
    color: #3765b7;
}

.reveal table th, .reveal table td {
    border-bottom : 1px solid black !important;
}





.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0; }


.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid; }

.reveal table th {
    font-weight: bold;
    text-align : center;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
    text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
    text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: none; }


.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
    font-family: monospace;
    text-transform: none; }

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal; }

